:root {
  --prymary: #b6895b;
  --bg: #010101;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: var(--bg);
  color: #fff;
  min-height: 200px;
}

.form {
  padding: 10rem;
}
/* Navbar */
.navbar,
.line {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1, 4rem 7%;
  background-color: rgba(1, 1, 1, 0.8);
  border-bottom: 1px solid #513c28;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
}

.navbar .navbar-logo,
.line .navbar-logo {
  font-size: 2rem;
  font-weight: 700;
  color: #fff;
  font-style: italic;
}

.navbar .navbar-logo span,
.line .navbar-logo span {
  color: var(--prymary);
}

.navbar .navbar-nav a,
.line .navbar-nav a {
  color: #fff;
  display: inline-block;
  font-size: 1, 2rem;
  margin: 0 1rem;
}

.navbar .navbar-nav a:hover,
.line .navbar-nav a:hover {
  color: var(--prymary);
}

.navbar .navbar-nav a::after,
.line .navbar-nav a::after {
  content: "";
  display: block;
  padding-bottom: 0.5rem;
  border-bottom: 0.1rem solid var(--prymary);
  transform: scaleX(0);
}

.navbar .navbar-nav a:hover::after,
.line .navbar-nav a:hover::after {
  transform: scaleX(0.2);
  transition: 0.2s linear;
}

.navbar .navbar-extra a,
.line .navbar-extra a {
  color: #fff;
  margin: 0 0.5rem;
}

.navbar .navbar-extra a:hover .line .navbar-extra a:hover {
  color: var(--prymary);
}

#menu {
  display: none;
}

/* Page  Section */
.page {
  min-height: 100vh;
  display: flex;
  align-items: center;
  background-image: url("../image/depan.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
}

.page::after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 30%;
  bottom: 0;
  background: linear-gradient(
    0deg,
    rgba(1, 1, 3, 1) 8%,
    rgba(255, 255, 255, 0) 50%
  );
}

.page .content {
  padding: 1.4rem 7%;
  max-width: 60rem;
}

.page .content h1 {
  font-size: 5rem;
  color: #fff;
  text-shadow: 1px 1px 3px rgba(1, 1, 3, 0.5);
  line-height: 1.2;
}

.page .content h1 span {
  color: var(--prymary);
}
.page .content p {
  font-size: 1, 6rem;
  margin-top: 1rem;
  line-height: 1.4;
  font-weight: 100;
  text-shadow: 1px 1px 3px rgba(1, 1, 3, 0.5);
  mix-blend-mode: difference;
}

.page .content .button {
  margin-top: 1rem;
  display: inline-block;
  padding: 1rem 3rem;
  font-size: 1.4rem;
  color: #fff;
  background-color: var(--prymary);
  border-radius: 0.5rem;
  box-shadow: 1px 1px 3px rgba(1, 1, 3, 0.5);
}


/* About */
.about,
.produk {
  padding: 8rem 7% 1.4rem;
}

.about h2,
.produk h2 {
  text-align: center;
  font-size: 2, 6rem;
  margin-bottom: 3rem;
}

.about h2 span,
.produk h2 span {
  color: var(--prymary);
}

.about .row {
  display: flex;
}

.about .row .about-img {
  flex: 1 1 45rem;
}

.about .row .about-img image {
  width: 1rem;
}

.about .row .content {
  flex: 1 1 35rem;
  padding: 0 1rem;
}

.about .row .content h3 {
  font-size: 1.8rem;
  margin-bottom: 1rem;
}

.about .row .content p {
  margin-bottom: 0.8rem;
  font-size: 1.4rem;
  font-weight: 100;
  line-height: 1.6;
}


/* Media Query */

/* Laptop */
@media (max-width: 1366px) {
  html {
    font-size: 75%;
  }
}
/* tablet */
@media (max-width: 768px) {
  html {
    font-size: 62.5%;
  }
  #menu {
    display: inline-block;
  }

  .navbar .navbar-nav {
    position: absolute;
    top: 100%;
    right: -100%;
    background-color: #fff;
    width: 30rem;
    height: 100vh;
    transition: 0.3s;
  }

  .navbar .navbar-nav.active {
    right: 0%;
  }

  .navbar .navbar-nav a {
    color: var(--bg);
    display: block;
    margin: 1, 5rem;
    padding: 0.5rem;
    font-size: 2rem;
  }

  .navbar .navbar-nav a::after {
    transform-origin: 0 0;
  }

  .navbar .navbar-nav a:hover::after {
    transform: scaleX(0.1);
  }

  .about .row {
    flex-wrap: wrap;
  }

  .about .row .about-img image {
    height: 5rem;
    object-fit: cover;
    object-position: center;
  }

  .about .row .content {
    padding: 0;
  }

  .about .row .content h3 {
    margin-top: 1rem;
    font-size: 2rem;
  }

  .about .row .content p {
    font-size: 1.6rem;
  }
}

/* Mobile */
@media (max-width: 450px) {
  html {
    font-size: 55%;
  }
}
